@inherits LayoutComponentBase
@inject NavigationManager _navigationManager

<PageTitle>NOTES</PageTitle>

<div style="display: grid;" class="page">
    <div class="my-top-row">
        <button @onclick=AddNoteRoute class="btn-primary add">AddNote</button>
        <div class="logo">NOTES</div>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@{
    void AddNoteRoute()
    {
        _navigationManager.NavigateTo("/AddNote");
    }
}
